<%=link_to 'Dashboard', events_path%>
  <br>
  <%=flash[:sucess]%>
  <br>
  <fieldset><legend>Update User profile</legend>
    <form class="" action="/logins/<%=session[:user]%>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="put">
      <input type="text" name="update[first_name]" value="<%=@user.first_name%>">
      <input type="text" name="update[Last_name]" value="<%=@user.Last_name%>">
      <input type="email" name="update[email]" value="<%=@user.email%>">
      <input type="text" name="update[location]" value="<%=@user.location%>">
      <select name="update[state]">
      	<option value="AL"<%=session[:AL]%>>Alabama</option>
      	<option value="AK"<%=session[:AK]%>>Alaska</option>
      	<option value="AZ"<%=session[:AZ]%>>Arizona</option>
      	<option value="AR"<%=session[:AR]%>>Arkansas</option>
      	<option value="CA"<%=session[:CA]%>>California</option>
      	<option value="CO"<%=session[:CO]%>>Colorado</option>
      	<option value="CT"<%=session[:CT]%>>Connecticut</option>
      	<option value="DE"<%=session[:DE]%>>Delaware</option>
      	<option value="DC"<%=session[:DC]%>>District of Columbia</option>
      	<option value="FL"<%=session[:FL]%>>Florida</option>
      	<option value="GA"<%=session[:GA]%>>Georgia</option>
        <option value="HI"<%=session[:HI]%>>Hawaii</option>
        <option value="ID"<%=session[:ID]%>>Idaho</option>
        <option value="IL"<%=session[:IL]%>>Illinois</option>
        <option value="IN"<%=session[:IN]%>>Indiana</option>
        <option value="IA"<%=session[:IA]%>>Iowa</option>
        <option value="KS"<%=session[:KS]%>>Kansas</option>
        <option value="KY"<%=session[:KY]%>>Kentucky</option>
        <option value="LA"<%=session[:LA]%>>Louisiana</option>
        <option value="ME"<%=session[:ME]%>>Maine</option>
        <option value="MD"<%=session[:MD]%>>Maryland</option>
        <option value="MA"<%=session[:MA]%>>Massachusetts</option>
        <option value="MI"<%=session[:MI]%>>Michigan</option>
        <option value="MN"<%=session[:MN]%>>Minnesota</option>
        <option value="MS"<%=session[:MS]%>>Mississippi</option>
        <option value="MO"<%=session[:MO]%>>Missouri</option>
        <option value="MT"<%=session[:MT]%>>Montana</option>
        <option value="NE"<%=session[:NE]%>>Nebraska</option>
        <option value="NV"<%=session[:NV]%>>Nevada</option>
        <option value="NH"<%=session[:NH]%>>New Hampshire</option>
        <option value="NJ"<%=session[:NJ]%>>New Jersey</option>
        <option value="NM"<%=session[:NM]%>>New Mexico</option>
        <option value="NY"<%=session[:NY]%>>New York</option>
        <option value="NC"<%=session[:NC]%>>North Carolina</option>
        <option value="ND"<%=session[:ND]%>>North Dakota</option>
        <option value="OH"<%=session[:OH]%>>Ohio</option>
        <option value="OK"<%=session[:OK]%>>Oklahoma</option>
        <option value="OR"<%=session[:OR]%>>Oregon</option>
        <option value="PA"<%=session[:PA]%>>Pennsylvania</option>
        <option value="RI"<%=session[:RI]%>>Rhode Island</option>
        <option value="SC"<%=session[:SC]%>>South Carolina</option>
        <option value="SD"<%=session[:SD]%>>South Dakota</option>
        <option value="TN"<%=session[:TN]%>>Tennessee</option>
        <option value="TX"<%=session[:TX]%>>Texas</option>
        <option value="UT"<%=session[:UT]%>>Utah</option>
        <option value="VT"<%=session[:VT]%>>Vermont</option>
        <option value="VA"<%=session[:VA]%>>Virginia</option>
        <option value="WA"<%=session[:WA]%>>Washington</option>
        <option value="WV"<%=session[:WV]%>>West Virginia</option>
        <option value="WI"<%=session[:WI]%>>Wisconsin</option>
        <option value="WY"<%=session[:WY]%>>Wyoming</option>
      </select>
      <input type="submit" value="submit">
    </form>
  </fieldset>
  <% if flash[:error]%>
  <fieldset><legend>Errors</legend>
    <% flash[:error].each do |err|%>
      <ul>
        <li>
          <%= err %>
        </li>
      </ul>
    <%end%>
  </fieldset>
  <%end%>
