  <!-- <div class="container">
    <div class="col-sm-10"> -->
      <!-- <%= image_tag"main1.jpg", :alt => "main1 feed", height: '400', width: '800', class: "mainSlides" %>
      <%= image_tag"main2.jpg", :alt => "main2 feed", height: '400', width: '800', class: "mainSlides" %> -->
<div class="mainImage">

      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
          <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          <li data-target="#carousel-example-generic" data-slide-to="5"></li>
          <!-- <li data-target="#carousel-example-generic" data-slide-to="6"></li> -->
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag"main1.jpg", :alt => "main1 feed" , hight: "200px"%>
            <div class="carousel-caption">
              ...
            </div>
          </div>
          <div class="item">
            <%= image_tag"main2.jpg", :alt => "main2 feed" %>
            <div class="carousel-caption">
              ...
            </div>
          </div>
          <div class="item">
            <%= image_tag"main3.jpg", :alt => "main3 feed" %>
            <div class="carousel-caption">
              ...
            </div>
          </div>
          <div class="item">
            <%= image_tag"main4.jpg", :alt => "main4 feed" %>
            <div class="carousel-caption">
              ...
            </div>
          </div>
          <div class="item">
            <%= image_tag"main5.jpg", :alt => "main5 feed" %>
            <div class="carousel-caption">
              ...
            </div>
          </div>
          ...
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <!-- </div>
  </div> -->
  </div>
  <!-- <! <div class="wrapper"> -->

  <div class="container">
    <!-- <div class="col-sm-10"> -->
      <div class="fb-page" data-href="https://www.facebook.com/SkyHouseEvents/"
                            data-tabs="timeline"
                            data-width="500"
                            data-height="500"
                            data-small-header="true"
                            data-adapt-container-width="true"
                            data-hide-cover="true" data-show-facepile="false">
                            <blockquote cite="https://www.facebook.com/SkyHouseEvents/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/SkyHouseEvents/">Sky House Event</a></blockquote>
      </div>
    <!-- </div> -->
  </div>
</div>
