
<p>
  Hi <%=session[:username]%>
  <%=link_to 'Dashboard', dashboard_path(session[:user])%>
  <%=link_to 'Log Out', logout_path%>
</p>
<br>
<h1>All products</h1>
<table>
  <tr>
    <th>Product</th>
    <th>Seller</th>
    <th>Date Posted</th>
    <th>Amount</th>
    <th>Action</th>
  </tr>
  <%@products.each do |product|%>
    <%if not @sale.each.any? {|i| i.shoe_id == product.id}%>
      <tr>
        <td><%=product.name%></td>
        <td><%=product.user.first_name%> <%=product.user.last_name%></td>
        <td><%=product.created_at.strftime('%B %d, %Y')%></td>
        <td><%=number_to_currency(product.price)%></td>
        <th><%=link_to 'Buy', shoe_path(product.id), method: :put%></th>
      </tr>
    <%end%>
  <%end%>

</table>
